.login-page{
    --background: #dfdfdf;
 }
 
 .login_div{
     width: 100%;
     min-height: 100vh;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 15px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     position: relative;
     z-index: 1;
 }

 .login_div a:hover {
    cursor: pointer;
 }