

<ion-app>
  
  <ion-header>
    <ion-toolbar mode="md">
        <!-- <ion-buttons slot="start" class="mobile-menu float-left">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
        <ion-title class="py-2" routerLink="/home">
          <img src="assets/logoDark.png" alt="" class="w-75">
        </ion-title>
        <ion-buttons slot="end" class="float-end">
          <ion-button class="shadow-none" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar mode="md">      
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Search For Investigations / Packages</mat-label>
              <input type="text" id="drug" #drugs (input)="invSearch(drugs.value)" placeholder="Ex: CBP, Endoscopy" matInput [matAutocomplete]="auto2">
              <mat-autocomplete #auto2="matAutocomplete" [panelWidth]="fit">
                <mat-option class="p-1 px-3" *ngFor="let item of invSearchList " [value]="item.name" (click)="invInfo(item)" >
                  {{ item.name }}
                  <span class="badge badge-primary">{{ item.type }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <!-- <ion-split-pane contentId="content" class="app-sidemenu" when="(min-width:992px)">
  
          <ion-menu>
              <ion-content class="sidemenu-bg">
                  <ion-list class="p-2 border">
                      <div class="row">
                        <div class="col-4">
                          <img src="assets/no_user_img.png" class="rounded-circle bg-light p-2" alt="">
                        </div>
                        <div class="col-8 my-auto">
                          <ion-title class="p-0 mb-2 font-weight-bold">{{ userData.username }}</ion-title>
                        </div>
                      </div>
                  </ion-list>
                  <ion-list class="menu-gradient p-2" lines="none">
                    <ion-menu-toggle auto-hide="false">
                      <ion-item routerLink="/home" class="menu-item" (click)="changeUrl('/home')" [class.selectedIndex]="'/home' === selectedUrl"  lines="none" detail="false">
                        <ion-icon slot="start" ios="home" md="home" class="me-3"></ion-icon>
                        <ion-label class="pt-2">Home</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                      <ion-item routerLink="{{ (userData == null)?'/auth':'/profile' }}" class="menu-item" (click)="changeUrl('/profile')" [class.selectedIndex]="'/profile' === selectedUrl"  lines="none" detail="false">
                        <ion-icon slot="start" ios="person-circle" md="person-circle" class="me-3"></ion-icon>
                        <ion-label class="pt-2">My Profile</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                      <ion-item routerLink="{{ (userData == null)?'/auth':'/upload' }}" class="menu-item" (click)="changeUrl('/upload')" [class.selectedIndex]="'/upload' === selectedUrl"  lines="none" detail="false">
                        <ion-icon slot="start" ios="camera" md="camera" class="me-3"></ion-icon>
                        <ion-label class="pt-2">Upload Prescription</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                      <ion-item routerLink="{{ (userData == null)?'/auth':'/packages' }}" class="menu-item" (click)="changeUrl('/packages')" [class.selectedIndex]="'/packages' === selectedUrl"  lines="none" detail="false">
                        <ion-icon slot="start" ios="bag-add" md="bag-add" class="me-3"></ion-icon>
                        <ion-label class="pt-2">Packages</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                      <ion-item routerLink="{{ (userData == null)?'/auth':'/tests' }}" class="menu-item" (click)="changeUrl('/tests')" [class.selectedIndex]="'/tests' === selectedUrl"  lines="none" detail="false">
                        <ion-icon slot="start" ios="flask" md="flask" class="me-3"></ion-icon>
                        <ion-label class="pt-2">Examinations</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                      <ion-item routerLink="/orders" class="menu-item" (click)="changeUrl('/orders')" [class.selectedIndex]="'/orders' === selectedUrl"  lines="none" detail="false">
                        <ion-icon slot="start" ios="reorder-four" md="reorder-four" class="me-3"></ion-icon>
                        <ion-label class="pt-2">My Orders</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <div *ngIf="(userData == null); then ifarea else nonarea"></div>
                    <ng-template #ifarea>
                      <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/home" class="menu-item" lines="none" detail="false">
                          <ion-icon slot="start" ios="lock-closed" md="lock-closed" class="me-3"></ion-icon>
                          <ion-label class="pt-2">Login/Signup</ion-label>
                        </ion-item>
                      </ion-menu-toggle>
                    </ng-template>
                    <ng-template #nonarea>
                      <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/cart" class="menu-item" (click)="changeUrl('/cart')" [class.selectedIndex]="'/cart' === selectedUrl"  lines="none" detail="false">
                          <ion-icon slot="start" ios="cart" md="cart" class="me-3"></ion-icon>
                          <ion-label class="pt-2">Cart</ion-label>
                        </ion-item>
                      </ion-menu-toggle>
                    </ng-template>
                    
                  </ion-list>
              </ion-content>
  
          </ion-menu>
          
   -->
          <ion-router-outlet id="content" main class="router-outlet"></ion-router-outlet>
          
      <!-- </ion-split-pane> -->
      

<ion-tabs class="bg-light">
  <ion-tab-bar mode="ios" slot="bottom" class="shadow">
    <ion-tab-button routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button routerLink="/tests">
      <ion-icon name="flask"></ion-icon>
      <ion-label>Investigations</ion-label>
    </ion-tab-button> 
    
    <ion-tab-button routerLink="/packages">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Packages</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab class="upload-pic" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button routerLink="/upload" color="danger">
    <ion-icon name="scan"></ion-icon>
  </ion-fab-button>
</ion-fab>


      
      <!-- <button mat-raised-button color="primary" matBadge="{{ localCart }}" matBadgePosition="after" routerLink="/cart" matBadgeColor="warn" class="btn-bottom"><i class="fas fa-shopping-cart"></i></button> -->
      
    </ion-content>
</ion-app>